h1 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background-color: hsla(180,80,50,.5);
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 230px;
	padding-bottom: 200px;
	font-size: 60px;
	color: white;
	letter-spacing: .01em;
	text-decoration: overline solid yellow;
}

.image{
	background-image: url(https://i.gyazo.com/cafc23dca638301264a4d3060acdc890.jpg);
	width: 100%;
	height: 100%;
	position: fixed; 
    left: 0px; 
    top: 0px;
     z-index: -1;
}

.container{
	/*border: 2px solid red;*/
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
}

*{
	box-sizing: border-box;
}

.container .content{
	font-family: 'Lato', sans-serif;
	/*border: 2px solid blue;*/
	color: white;
	margin-top: 50px;
	font-size: 16px;
	margin-left: 20px;
}

.onpage{
	color:#002266;
	font-weight: 1000;
}

a:hover{
	color: yellow;
}

a{
	color:white;
	text-decoration: none;
}

/*footer{
	font-family: 'Lato', sans-serif;
	padding: 5px;
	background-color: lightblue;
	text-align: center;
	font-size: 13px;
}*/