body{
	margin: 0;
}

nav{
	/*border: 2px solid red;*/
	padding: 10px;
}

h1{
	text-decoration: overline solid yellow;
	font-family: 'Raleway', sans-serif;
}

h2, h3, h4, li{
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: 'Nunito', sans-serif;
}

.image{
	background-image: url(../data/workprogress.jpg);
	width: 100%;
	height: 100%;
	position: fixed; 
    left: 0px; 
    top: 0px;
     z-index: -1;
}

.article{
	margin-top: 60px;
	margin-left: 100px;
	margin-right: 50px
}

.container{
	/*border: 2px solid red;*/
	display: flex;
	margin: 0 auto;
	max-width: 1200px;
}

*{
	box-sizing: border-box;
}

.container .content{
	font-family: 'Lato', sans-serif;
	/*border: 2px solid blue;*/
	color: white;
	margin-top: 50px;
	font-size: 16px;
	margin-left: 20px;
}

.onpage{
	color:#002266;
	font-weight: bold;
}

a:hover{
	color: yellow;
}

a:hover{
	color: yellow;
}

nav:hover{
	background-color: lightblue;
}

a{
	color:black;
	text-decoration: none;
}

footer{
	font-family: 'Lato', sans-serif;
	position:absolute;	
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background:#6cf;
	text-align: center;
	color:white;
	padding:5px;
}